---
import MainLayout from "../../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ArticleCard from "../../../components/ArticleCard.astro";
import Pagination from "../../../components/Pagination.astro";
import { ARTICLES_PER_PAGE } from "../../../constants";

const currentPage: number | null = Astro.url.searchParams.get("page")
  ? parseInt(Astro.url.searchParams.get("page") as string)
  : 1;

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const totalPages: number = Math.ceil(
  allBlogArticles.length / ARTICLES_PER_PAGE
);

const artclesForPage: CollectionEntry<"blog">[] = allBlogArticles.slice(
  (currentPage - 1) * ARTICLES_PER_PAGE,
  currentPage * ARTICLES_PER_PAGE
);
---

<MainLayout>
<section class="container mx-auto">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {artclesForPage.map(article => (
      <ArticleCard article={article} />
    ))}
  </div>
 <Pagination currentPage={currentPage} totalPages={totalPages}
  disablePrevious={currentPage ===1 } disableNext={currentPage === totalPages}/>
</section>
</MainLayout>
