---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/Hero.astro";
---

<MainLayout>
  <!-- Top Grid -->
  <Hero />
  <section class="mt-8 w-full bg-indigo-900 lg:mt-40">
    <div class="mx-auto max-w-[1800px]">
      <div class="p-8">
        <h1 class="text-center text-xl font-bold text-white">OUR SERVICES</h1>
      </div>
      <div
        class="grid h-auto grid-cols-1 grid-rows-1 gap-4 md:grid-cols-2 lg:grid-cols-4"
      >
        <div class="flex flex-col justify-between space-y-8 rounded-2xl p-8">
          <div>
            <h1 class="text-xl font-bold text-white">WEDDING ASSISTANCE</h1>

            <p class="text-md line pt-8 leading-6 text-white">
              What could be better than having your furry family member there on
              your special day and not have to worry about their care &
              transport or them missing out on those once in a lifetime family
              photos! But be prepared they will be sure to steal the spotlight
            </p>
          </div>
          <div>
            <button class="rounded-full bg-indigo-100 p-4 font-bold shadow-lg">
              Find Out More
            </button>
          </div>
        </div>
        <div class="flex flex-col justify-between space-y-8 rounded-2xl p-8">
          <div>
            <h1 class="text-xl font-bold text-white">DOGGY ADVENTURE DAY</h1>

            <p class="text-md line pt-8 leading-6 text-white">
              Do you come home after a long day at work to find your dogs have
              an abundance of energy, have destroyed everything in sight or
              escaped your yard.. yet again? We can help curb these behaviours
              and have you coming home to a nice and relaxed dog that is ready
              to snuggle up on the lounge with you.
            </p>
          </div>
          <div>
            <button class="rounded-full bg-indigo-100 p-4 font-bold shadow-lg">
              Find Out More
            </button>
          </div>
        </div>
        <div class="flex flex-col justify-between space-y-8 rounded-2xl p-8">
          <div>
            <h1 class="text-xl font-bold text-white">PET CARE VISITS</h1>

            <p class="text-md line pt-8 leading-6 text-white">
              We offer drop in house visits in the Southern Highlands and
              Wollondilly areas. Alot of owners worry about putting their pets
              in boarding kennels and than you have all those animals like fish,
              rabbits, reptiles and more that you have to rely on neighbours or
              friends to feed and care for them, But this is where we come in.
            </p>
          </div>

          <div>
            <button class="rounded-full bg-indigo-100 p-4 font-bold shadow-lg">
              Find Out More
            </button>
          </div>
        </div>
        <div class="flex flex-col justify-between space-y-8 rounded-2xl p-8">
          <div>
            <h1 class="text-xl font-bold text-white">EQUINE & FARM CARE</h1>

            <p class="text-md line pt-8 leading-6 text-white">
              Equids and other farm animals require a whole different level of
              care. We understand that and are qualified and experienced in
              handling them and caring for your farm. Just because you own these
              animals doesn't mean you don't deserve a day off or a holiday and
              this is where we come in.
            </p>
          </div>

          <div>
            <button class="rounded-full bg-indigo-100 p-4 font-bold shadow-lg">
              Find Out More
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
