---
import MainLayout from "../../../layouts/MainLayout.astro";
import ArticleCard from "../../../components/ArticleCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../../../utils";
export const prerender = false;

const { tag } = Astro.params;

if (tag === undefined) {
  throw new Error("Tag is required");
}

const allBlogArticles: CollectionEntry<"blog">[] = (
  await getCollection("blog")
).sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tagArticles = allBlogArticles.filter((article) =>
  article.data.tags.includes(tag),
);
---

<MainLayout>
  <a
    href="/articles"
    class="mb-6 inline-block bg-gray-100 p-2 hover:bg-indigo-500 hover:text-white"
    >Back To Articles</a
  >
  <h1 class="pb-3 text-2xl">#{capitalize(tag)}</h1>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {tagArticles.map((article) => <ArticleCard article={article} />)}
  </div>
</MainLayout>
