---
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const tags: string[] = allBlogArticles.flatMap((article) => article.data.tags);

---

<footer class="bg-slate-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl p-8">
    <div
      class="grid grid-cols-1 justify-between gap-12 sm:grid-cols-2 lg:grid-cols-2"
    >
      <div class="mt-10">
        <h3 class="mb-4 text-xl font-semibold">Contact</h3>
        <ul class="flex text-sm text-white">
          <li class="mb-2 mr-4">
            <a href="#">Email</a>
          </li>
          <li class="mb-2 mr-4">
            <a href="#">Twitter</a>
          </li>
          <li class="mb-2 mr-4">
            <a href="#">Facebook</a>
          </li>
          <li class="mb-2">
            <a href="#">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
