---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION } from "../constants";

const { title = "S & N Pet Services" } = Astro.props;

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <script>
      //restart flowbite after ViewTransitions
      import "flowbite";
      import { initFlowbite } from "flowbite";
      document.addEventListener("astro:page-load", () => {
        initFlowbite();
      });
    </script>

    <title>{title} - {SITE_DESCRIPTION}</title>
    <ViewTransitions />
  </head>
  <body >
    <Navbar />
    <section class="container mx-auto max-w-screen-x2l mt-10 p-4 gap-6">
      
      <slot />
    </section>
    <Footer />
  </body>
</html>
